@model LAB8.DATA.Models.Laptop

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Laptop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HangMay" class="control-label"></label>
                <input asp-for="HangMay" class="form-control" />
                <span asp-validation-for="HangMay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySanXuat" class="control-label"></label>
                <input asp-for="NgaySanXuat" class="form-control" />
                <span asp-validation-for="NgaySanXuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLaptop" class="control-label"></label>
                <input asp-for="MaLaptop" class="form-control" />
                <span asp-validation-for="MaLaptop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desception" class="control-label"></label>
                <input asp-for="Desception" class="form-control" />
                <span asp-validation-for="Desception" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
