@using LAB8.DATA.Models
@model LAB8.DATA.Models.People

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>People</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <!-- Nhiều xe -->
            <div class="form-group">
                <label asp-for="IdCar">Chọn Xe</label>
                <select asp-for="IdCar" multiple asp-items="@(new MultiSelectList(ViewData["IdCar"] as List<Car>, "Id", "Name"))" class="form-control"></select>
            </div>

            <!-- Nhiều laptop -->
            <div class="form-group">
                <label asp-for="IdLaptop">Chọn Laptop</label>
                <select asp-for="IdLaptop" multiple asp-items="@(new MultiSelectList(ViewData["IdLaptop"] as List<Laptop>, "Id", "Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
